//Variables

$color-primary: #A491D2;
$color-secondary: #BEC1BB;
$color-dark: #1B1F21;
$color-white: #fff;

$sidebar-width: 300px;

@mixin flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}


//Ajustes
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  @include flexRow;
}

.sidebar {
  @include flexCol;
  height: 100vh;
  width: $sidebar-width;
  background-color: $color-white;
}

.main {
  @include flexCenter;
  height: 100vh;
  width: calc(100vw - $sidebar-width);
  background-color: #eaeaea;
  .main-content {
    @include flexCol;
    gap: 1rem;
    max-width: 400px;
    img{
      width: 200px;
    }
    .main-text {
      @include flexCol;
      text-align: center;
    }
  }
}
