* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 300px;
  background-color: #fff;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #eaeaea;
}
.main .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 400px;
}
.main .main-content img {
  width: 200px;
}
.main .main-content .main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}