//Variables

$color-primary: #A491D2;
$color-secondary: #BEC1BB;
$color-dark: #1B1F21;
$color-white: #fff;

$sidebar-width: 350px;
$sidebar-gap: 1px;
$sidebar-element-padding: 2rem;

@mixin flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin thumbnail($size) {
  width: $size;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  &> img {
    width: 100%;
  }
}


//Ajustes
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: $color-dark;
}

section {
  @include flexRow;
}

//contenedor principal de la sidebar
.sidebar {
  @include flexCol;
  height: 100vh;
  width: $sidebar-width;
  background-color: #e3e3e3;
  gap: $sidebar-gap;
  padding: $sidebar-gap;
  & > *{
    width: 100%;
    // padding: 1.2rem 2rem;
    background-color: #FFF;
  }

  //seccion perfil de usuario
  .profile { 
    @include flexRow;
    justify-content: space-between;
    padding: 0.7rem $sidebar-element-padding;
    .thumbnail {
      @include thumbnail(70px);
    }
    .info {
      width: 100%;
      padding: 0.5rem;
      p{
        color: gray;
        font: {
          size: 0.8rem;
          weight: light;
        }
      }
    }
    .p-buttons {
      @include flexCenter;
      gap: 10px;
      width: 80px;
      i {
        font-size: 1.5rem;
        color: $color-secondary;
        &:hover {
          cursor: pointer;
          color: $color-dark;
        }
      }
    }
  }
  
  //contenedor del boton
  .button-container {
    @include flexCenter;
    height: 100px;
    padding: 70px 0;
    .new-chat {
      width: 75%;
      padding: 1.2rem;
      background-color: $color-primary;
      border: none;
      color: white;
      font-size: 1.3rem;
      font-weight: 500;
      &:hover {
        background-color: #CDC3E6;
        cursor: pointer;
      }
    }
  }

  //seccion lista de contactos
  .contacts { 
    @include flexCol;
    overflow-y: auto;
    width: 100%;
    .contact {
      @include flexRow;
      width: 100%;
      padding: 0.5rem 2rem;
      .contact-thumbnail {
        @include thumbnail(60px);
        background-color: #1B1F21 //temporal;
      }
      .contact-info {
        flex: 1;
        padding: 1rem;
        .contact-name {
          font-size: 1.1rem;
          font-weight: bold;
        }
        .contact-message {
          color: gray;
          font: {
            size: 0.8rem;
            weight: light;
          }
        }
      }

      &:hover {
        background-color: #eaeaea;
      }
    }

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-primary;
      border-radius: 5px;
    }
  }
}



.main {
  @include flexCenter;
  height: 100vh;
  width: calc(100vw - $sidebar-width);
  background-color: #eaeaea;
  .main-content {
    @include flexCol;
    gap: 1rem;
    max-width: 400px;
    img{
      width: 200px;
    }
    .main-text {
      @include flexCol;
      text-align: center;
    }
  }
}
