* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 300px;
  background-color: #fff;
}
.sidebar > * {
  width: 100%;
  padding: 1.2rem;
}
.sidebar .profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.sidebar .profile .thumbnail {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #A491D2;
}
.sidebar .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #eaeaea;
}
.sidebar .button-container button {
  width: 75%;
  padding: 1.2rem;
  background-color: #A491D2;
  border: none;
  color: white;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #eaeaea;
}
.main .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 400px;
}
.main .main-content img {
  width: 200px;
}
.main .main-content .main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}